.content-main__list-item {
    width: calc((100% - 60px) / 3 );
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
}

.content-main__list-item--img {
    width: 100%;
    display: flex;
}

.content-main__list-item--img img {
    width: 100%;
}

.content-main__list-item--title {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 19px;
    color: #0A143A; 
}

.content-main__list-item:hover .content-main__list-item--title {
    color: #256EEB;
}

.content-main__list-item--price {
    font-size: 16px;
    line-height: 19px;
    color: #0A143A; 
    margin-bottom: 10px;
}

.content-main__list-item--desc-box {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.content-main__list-item--desc {
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
}

@media (max-width: 1200px) {
    .content-main__list-item {
        width: calc((100% - 30px) / 2 );
    }
}

@media (max-width: 480px) {
    .content-main__list-item {
        width: 100%;
    }
}