* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    width: 100%;
    max-width: 1146px;
    padding: 0 12px;
    margin: 0 auto; 
}

.btn {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-outline {
    background-color: transparent;
}

.btn-primary {
    background-color: #256EEB;
    color: #fff;
}

.btn-large {
    width: 264px;
    height: 54px;
}



.search {
    margin-bottom: 45px;
}

.search-box {
    width: 100%;
    border-radius: 5px;
    background-color: #256EEB;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.search-box input {
    flex-grow: 1;
    padding: 14px 22px;
    outline: none;
    border-radius: 5px;
    border: none;
    min-width: 0;
}

.search-btn {
    display: flex;
    align-items: center;
}

.search-btn .search-btn__icon {
    width: 15px;
    height: 15px;
}

.search-btn .search-btn__text {
    margin-left: 2px;
    font-size: 16px;
    line-height: 15px;
}

.content {
    padding-bottom: 50px;
}

.content-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 33px;
}

.content-main {
    flex-grow: 1;
}



.content-main__title {
    font-size: 24px;
    line-height: 28px;
    margin-top: 0;
}

.content-main__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
}



.content-side {
    width: 260px;
    min-width: 260px;
}

.content-side__title {
    font-size: 18px;
    line-height: 21px;
    margin-top: 0;
    margin-bottom: 23px;
}

.content-side__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 120px;
    padding-bottom: 42px;
}

.content-side__list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.content-side__list-item--img {
    margin-bottom: 7px;
}

.content-side__list-item--title {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
}

.content-side__list-item--text {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}

.content-side__footer {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.content-side__footer--item {
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
    margin: 0;
}

.content-product {
    display: flex;
    flex-grow: 1;
    gap: 30px;
}

.content-product__left {
    flex-basis: 50%;
}

.content-product__right {
    flex-basis: 50%;
}

.content-product__title, .content-product__price {
    margin-top: 0px;
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 28px;
}

.content-product__text {
    font-size: 14px;
    line-height: 20px;
}

.content-product__img {
    width: 100%;
}

@media (max-width: 1200px) {
    .container {
        min-width: 991px;
    }
}
@media (max-width: 991px) {
    .container {
        min-width: 730px;
    }

    .content-box {
        flex-direction: column;
    }

    .content-main {
        width: 100%;
    }

    .content-side {
        width: 100%;
        min-width: none;
    }

    .content-product {
        flex-direction: column;
        width: 100%;
    }

    .content-product__left {
        flex-basis: 100%;
        width: 100%;
    }

    .content-product__right {
        flex-basis: 100%;
        width: 100%;
    }

}
@media (max-width: 786px) {
    .container {
        min-width: 100%;
    }
    .search-btn .search-btn__text {
        display: none;
    }


}

